Skip to content
Why GitHub?
Team
Enterprise
Explore
Marketplace
Pricing
Search

Sign in
Sign up
DJWOMS
/
cook_blog
87
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
cook_blog/.gitignore
@DJWOMS
DJWOMS first commit
Latest commit f08130b on 17 Apr
 History
 1 contributor
30 lines (22 sloc)  208 Bytes

.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3

venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*

log/debug.log

build
doc
home.rst
make.bat
Makefile
